# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-react
dist-electron
*.local
# These might not have built into dist correctly? !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# Were all created by the build process
App.js
InventoryPage.js
TestPage.js
StartPage.js
main.js
tsconfig.tsbuildinfo
vite.config.d.ts
vite.config.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
