
h3 {
   margin: 0;
   font-size: 1.5em;
}

button {
   background-color: transparent;
   border: 2px solid white;
   color: white;
   padding: 3px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}

.profileButton {
   position: fixed;
   top: 1rem;
   left: 10rem;
}

.setButton {
   position: fixed;
   top: 1rem;
   left: 20rem;
}

.viewButton {
   position: fixed;
   top: 1rem;
   left: 27.5rem;
}


.profileButton:hover, .setButton:hover, .viewButton:hover {
   filter: drop-shadow(0 0 1em #d0d0d0);
}


/* Needs adjusting !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.cardImage {
   width: 80px;
   margin-top: 10px;
   display: flex; /* Maybe inline-flex? */
   border-radius: 5%;
}

div .cardPlaceholder {
   background: none;
   border: 2px solid white;
   border-radius: 5%;
   width: 80px;
   margin-top: 10px;
   display: flex; /* Maybe inline-flex? */
}



.profileMenuContainer {
   position: fixed;
   top: 4rem;
   left: 10rem;
   width: 8.7rem;
   height: 0rem;
   overflow: hidden;
   background-color: #333;
   border: none;
   border-radius: 10px;
}
.openProfile {
   border: 2px solid aqua;
   height: 15rem;

}

.setMenuContainer {
   position: fixed;
   top: 4rem;
   left: 20rem;
   width: 6.3rem;
   height: 0rem;
   overflow: hidden;
   background-color: #333;
   border: none;
   border-radius: 10px;
}
.openSet {
   border: 2px solid aqua;
   height: 15rem;
}

.viewMenuContainer {
   position: fixed;
   top: 4rem;
   left: 27.5rem;
   width: 7.4rem;
   height: 0rem;
   overflow: hidden;
   background-color: #333;
   border: none;
   border-radius: 10px;
}
.openView {
   border: 2px solid aqua;
   height: 5rem;
}