
h3 {
   margin: 0;
   font-size: 1.5em;
}

button {
   background-color: transparent;
   border: 2px solid white;
   color: white;
   padding: 3px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}

.profileButton {
   position: fixed;
   top: 1rem;
   left: 10rem;
}

.setButton {
   position: fixed;
   top: 1rem;
   left: 20rem;
}

.viewButton {
   position: fixed;
   top: 1rem;
   left: 27.5rem;
}

/* These icon style rules are in inventoryPage.css if they are going to be used differently in the trading page */

.settingsIcon {
	width: 3em;
	height: 3em;
	position: fixed;
	top: 1rem;
	left: 1rem;
	cursor: pointer;
}
.settingsIconButton, .dotIconButton, .minusIconButton, .plusIconButton {
   background-color: transparent;
   border: none;
   padding: 0;
}

.settingsIcon:hover {
	filter: drop-shadow(0 0 1em #b3b3b3);
}

.dotIcon {
	width: 3em;
	height: 3em;
	position: fixed;
	top: 6rem;
	left: 1rem;
	cursor: pointer;
}

.dotIcon:hover {
	filter: drop-shadow(0 0 1em #ffffff);
}

.minusIcon {
	width: 3em;
	height: 3em;
	position: fixed;
	top: 10rem;
	left: 1rem;
	cursor: pointer;
}

.minusIcon:hover {
	filter: drop-shadow(0 0 1em #ffffff);
}

.plusIcon {
	width: 3em;
	height: 3em;
	position: fixed;
	top: 14rem;
	left: 1rem;
	cursor: pointer;
}

.plusIcon:hover {
	filter: drop-shadow(0 0 1em #ffffff);
}

.profileButton:hover, .setButton:hover, .viewButton:hover {
   filter: drop-shadow(0 0 1em #d0d0d0);
}








.temp {
   margin-top: 150%;
   z-index: 5;
}

.inventoryPageContainer {
   z-index: 1;
   position: fixed;
   top: 6rem;
   left: 7rem;
   width: 70%; /*width 100% goes off right hand side?*/
   height: 70%;
   max-height: 100vh;
   border: 0.5px solid white;
   overflow-y: scroll;
   
   
}

.inventoryPageContainer h2 {
   text-align: center;
   margin: 1rem 0;
}

/* Needs adjusting !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.cardImage {
   width: 80px;
   margin-top: 10px;
   display: inline-flex; /* Maybe inline-flex? */
   border-radius: 5%;
   margin: 0 2%;
   }

/* Maybe instead just add a dark transparent overlay on cards that aren't in collection */
/*
.notOwned {
   background: rgba(0,0,0,0.5);

}
*/

div .cardPlaceholder {
   background: none;
   border: 2px solid white;
   border-radius: 5%;
   width: 80px;
   margin-top: 10px;
   display: inline-flex; /* Maybe inline-flex? */
   margin: 0 2%;
}



.profileMenuContainer {
   position: fixed;
   z-index: 5;
   top: 4rem;
   left: 10rem;
   width: 8.7rem;
   height: 0rem;
   overflow: hidden;
   background-color: #333;
   border: none;
   border-radius: 10px;
   overflow-y: scroll;
   scrollbar-width: thin; /* For Firefox */
   scrollbar-color: aqua transparent; /* For Firefox */
}
.openProfile {
   border: 2px solid aqua;
   height: auto;
   padding: 0.5rem 0;
}
.profileMenuContainer button {
   width:80%;
   padding-left:5%;
   padding-right:5%;
}
.profileMenuContainer button:hover {
   background-color: #444;
}



.setMenuContainer {
   position: fixed;
   z-index: 5;
   top: 4rem;
   left: 20rem;
   width: 6.3rem;
   height: 0rem;
   overflow: hidden;
   background-color: #333;
   border: none;
   border-radius: 10px;
   overflow-y: scroll;
   scrollbar-width: thin; /* For Firefox */
   scrollbar-color: aqua transparent; /* For Firefox */
}
.openSet {
   border: 2px solid aqua;
   height: 12rem;
}
.setMenuContainer button {
   width:80%;
   padding-left:5%;
   padding-right:5%;
}
.setMenuContainer button:hover {
   background-color: #444;
}



.viewMenuContainer {
   position: fixed;
   z-index: 5;
   top: 4rem;
   left: 27.5rem;
   width: 7.4rem;
   height: 0rem;
   overflow: hidden;
   background-color: #333;
   border: none;
   border-radius: 10px;
   overflow-y: scroll;
   scrollbar-width: thin; /* For Firefox */
   scrollbar-color: aqua transparent; /* For Firefox */
}
.openView {
   border: 2px solid aqua;
   height: 5rem;
}
.viewMenuContainer button {
   width:80%;
   padding-left:5%;
   padding-right:5%;
}
.viewMenuContainer button:hover {
   background-color: #444;
}


.settingsContainer {
   position: fixed;
   z-index: 5;
   top: 5rem;
   left: 1.2rem;
   width: 10rem;
   height: 0rem;
   overflow: hidden;
   background-color: #333;
   border: none;
   border-radius: 10px;
   overflow-y: scroll;
   scrollbar-width: thin; /* For Firefox */
   scrollbar-color: aqua transparent; /* For Firefox */
   font-size: 0.7rem;
}
.openSettings {
   border: 2px solid aqua;
   height: 18rem;
}

.settingItem {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 0.5rem;
   border-bottom: 1px solid #444;
}
.settingItem label {
   margin-left: 0.5rem;
}
.settingItem input[type="checkbox"] {
   appearance: none;
   position: relative;
   background-color: white;
   border: 4px solid white;
   border-radius: 5px;
   height: 0.8rem;
   width: 3rem;
   min-width: 3rem;
   
}
.settingItem input[type="checkbox"]::before {
   background-color: #000;
   border: 0.1rem solid #444;
   height: 1rem;
   width: 1rem;
   position: absolute;
   content: "";
   border-radius: 5rem;
   /* transform: scale(1.2); */
   transform: translateY(-0.4rem);
   transition: transform 0.2s ease-in-out;
   
   
}
.settingItem input:checked[type="checkbox"]::before {
   transform: translateY(-0.4rem) translateX(1.4rem);
}

.settingItem:hover {
   background-color: #444;
}
.settingItem input[type="checkbox"]:hover {
   border: 5px solid #ddd;
   background-color: #ddd;
}
